@font-face {
  font-family: 'xkcdScript';
  font-style: normal;
  src: url('/fonts/xkcd-script.woff2') format('woff2');
}

body {
  background-image: url(/images/writing_pad.svg);
  background-repeat: repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  }